@charset "UTF-8";

body{
    background-color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}
h1{
    color: darkblue;
}
h2{
    color: darkred;
}
p{
    text-align: justify;
}